<center><h1>Zerolinux5</h1></center>
	<%= link_to "Find me on Github", "https://github.com/ZeroLinux"%>
<div class="row">
	<div class="span4">
	<img src="https://dl.dropbox.com/u/35967820/Vaio.jpg" class="img-polaroid">
	</div>
	<div class="span5">
	<img src="https://dl.dropbox.com/u/35967820/Vaio2.jpg" class="img-rounded">
	</div>
</div>

