<center>
  <h1>Jesus Magaña</h1></center>
  <div class="container">
    <div class="row">
      <div id="lightbg" class="span7">

<h3>Education and Training:</h3>
<b>University of California, Santa Cruz</b><br>
Santa Cruz, CA, United States of America<br>
Major: Computer Engineering<br>
Bachelors of Science<br>
Expected Graduation date: 2015<br>
Major details: An extensive degree built around the design, analysis and application of computers and on their applications as components of systems.
<p>
<h3>Qualifications:</h3>
<ul>
  <li>Bilingual in Spanish</li>
  <li>5 years of programming experience</li>
  <li>2 years of hardware experience</li>
  <li>1 year of 3D modeling experience in 3D studio Max and blender</li>
</ul>
<p>
  <h3>Job Experience:</h3>
  <ul>
    <li>MEP mentor for incoming freshmen</li>
    <li>1 year of high school algebra tutoring</li>
    <li>College Math tutor</li>
  </ul>
<p>
<h3>College Classes:</h3>
<ul>
  <li>Intro to robotics, Vector Calculus, Physics (Newtonian Mechanics), Accelerated Java, Intro to 3D Modeling, Discrete Mathematics,  Data Structures, Foundations of Interactive Game Foundation, Computer Systems and Assembly Language, Hypermedia and the Web, Intro to Networking, Physics(electromagnetism)</li>
  <li>Am taking:  Mobile Sensing using IOS, Mobile Applications using Android, Electrical Engineering 101</li>
  </ul>
<p>
<h3>Accomplishments:</h3>
I am a part of Math Engineering Science Achievement and in the Multicultural Engineering Program<br>
I have participated in an engineering summer bridge program for UCSC<br>
I attended an Oakland Engineering Conference through MESA and MAES<br>
I completed the Regional Occupational Program for 3D modeling in Fresno, CA
      </div>
      <div id="lightbg" class="span4">
        <h2><center><a href="https://dl.dropbox.com/u/7020515/Jesus%20Maga%C3%B1a.docx">Download Resume</a></h2></center>
      </div>
            <div id="newlinks" class="span2"><center>
        <h4>
          <a href="http://stackoverflow.com/users/1967798/zerolinux5">StackOverflow</a><br>
          <a href="https://twitter.com/ZeroLinux5">@ZeroLinux5</a><br>
          <a href="https://github.com/zerolinux5">github</a>
        </h4></center>

</div>
</div>
</div>
</div>
